<!--<h1>The Quest for the Best Tacos in San Diego</h1>
<div class="chart"></div>-->

<!DOCTYPE html>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/d3.layout.cloud.js"></script>
<script>
    var frequency_list = [{"text":"San Diego","size":40},
                          {"text":"El Cajon","size":15},
                          {"text":"Oceanside","size":10},
                          {"text":"Santee","size":15},
                          {"text":"Encinitas","size":10},
                          {"text":"Spring Valley","size":5},
                          {"text":"Escondido","size":10},
                          {"text":"San Marcos","size":5},
                          {"text":"Poway","size":5},
                          {"text":"Chula Vista","size":85},
                          {"text":"National City","size":5},
                          {"text":"Carlsbad","size":5},
                          {"text":"Lakeside","size":15},
                          {"text":"Vista","size":45},
                          {"text":"Ramona","size":30},
                          {"text":"La Mesa","size":5},
                          {"text":"Imperial Beach","size":5},
                          {"text":"Coronado","size":10},
                          {"text":"Lemon Grove","size":120},
                          {"text":"Valley Center","size":5},
                          {"text":"Solana Beach","size":5},
                          {"text":"Alpine","size":10},
                          {"text":"Bonita","size":5},
                          {"text":"Rancho Santa Fe","size":5},
                          {"text":"Jamul","size":85},
                          {"text":"Bonsall","size":5},
                          {"text":"Borrego Springs","size":5},
                          {"text":"Julian","size":15},
                          {"text":"Campo","size":45},
                          {"text":"Pauma Valley","size":30},
                          {"text":"Descanso","size":5},
                          {"text":"Warner Springs","size":5},
                          {"text":"Boulevard","size":10},
                          {"text":"Mount Laguna","size":120},
                          {"text":"Santa Ysabel","size":30},
                          {"text":"Potrero","size":5},
                          {"text":"Jacumba","size":5},
                          {"text":"Dulzura","size":10},
                          {"text":"Ranchita","size":120}];

    var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);

    cloud = d3.layout.cloud;
    d3.json("/delphidata", function(err, dat) {
          // console.log("data: " + JSON.stringify(dat));
          if (err) {
              console.log(err);
              return;
          }
          var data = dat;
          console.log(data);
          var parsed = data.map(function (obj) {
            res = {}
            res.text = obj.City;
            // res.size = Math.round(obj.avg_value/20000) || 0;
            res.size = Math.round(obj.avg_value/10) || 0;
            return res;
          });
          d3.layout.cloud = cloud;
          console.log(JSON.stringify(parsed));

          // for colors
          var fill = d3.scale.category20();

          d3.layout.cloud().size([800, 300])
              .words(parsed)
              .rotate(function(d) { return 0; })
              .font("Impact")
              .fontSize(function(d) { return d.size; })
              .on("end", draw)
              .start();

          function draw(words) {
            d3.select("body").append("svg")
                .attr("width", 1200)
                .attr("height", 500)
              .append("g")
              // without the transform, words words would get cutoff to the left and top, they would
              // appear outside of the SVG area
                .attr("transform", "translate(400,200)")
              .selectAll("text")
                .data(words)
                .text(function(d) { return d.word; })
              .enter().append("text")
                .style("font-size", function(d) { return d.size + "px"; })
                .style("font-family", "Impact")
                .style("fill", function(d, i) { return fill(i); })
                .attr("text-anchor", "middle")
                .attr("transform", function(d) {
                  return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) { return d.text; });
          }
    });

</script>


<div class="header">
	<div class="title">
		<h1>San Diego Home Values</h1>
		<hr>
		<h5>Maximize your profits!</h5>
	</div>
	<div class="scroll" align="center">
		<a href="#body">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</a>
	</div>
</div>

<div id="body">
	<div class="title">
		<h2>Select an option to see which area of San Diego has the highest value!</h2>
	</div>
	<div class="options row">
		<div class="col-md-2"></div>
		<div class="col-md-2" align="center">
			<button type="button" class="btn dataBtn" id="totallist">Total List<br>Price</button>
		</div>
		<div class="col-md-2" align="center">
			<button type="button" class="btn dataBtn" id="listsqft">List Price<br>by<br>Square Foot</button>
		</div>
		<div class="col-md-2" align="center">
			<button type="button" class="btn dataBtn" id="totalsell">Total Sell<br>Price</button>
		</div>
		<div class="col-md-2" align="center">
			<button type="button" class="btn dataBtn" id="sellsqft">Sell Price<br>by<br>Square Foot</button>
		</div>
	</div>
	<div class="chart"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="./js/d3.min.js"></script>
<script src="./js/index.js"></script>

<script src="js/d3.layout.cloud.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
	$('a').click(function(e) {
		e.preventDefault();
		if($($.attr(this, 'href')).length > 0) {
			$('html, body').animate({
				scrollTop: $($.attr(this, 'href')).offset().top
			},400);
		}
		return false;
	});
</script>
